/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {
    .wrapper {
        width: 300px;
    }
    .left {
        float: none;
        width: 100px;
    }

    .center-m {
        float: none;
        width: 125px;
    }
    .center-p {
        float: none;
        width: 125px;
    }
    .center-y {
         float: none;
        width: 200px;
        
    }
    .right {
        float: none;
        width: 75px;
    }
    .footer {
        float: none;
        width: 300px;
    }

}
/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
    }
    .left {
        float: none;
        width: 150px;
    }

    .center-m {
        float: none;
        width: 150px;
    }
    .center-p {
        float: none;
        width: 150px;
    }
    .center-y {
         float: none;
        width: 150px;
    }
    .right {
        float: none;
        width: 150px;
    }
    .footer {
        float: none;
        width: 150px;
    }

}