/*ウィンドウ幅が最大767pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 767px) {
    .wrapper {
        width: 300px;
    }
    .left {
        float: none;
        width: 100%;
        width: 100px;
    }
    .center-m {
        float: none;
        width: 100%;
        width: 125px;
    }
    .center-p {
        float: none;
        width: 100%;
        width: 125px;
    }
    .right {
        float: none;
        width: 100%;
        width: 75px;
    }
    .center-y {
         float: left;
         width: 100%;
        width: 200px;
        
    }
    
    .footer {
        float: left;
        width: 100%;
        width: 300px;
    }

}
/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
        
    }
    .left {
        float: none;
        width: 100%;
        width: 150px;
        height: 100px;
    }
    .right {
        float: left;
        width: 100%;
        width: 150px;
        height: 100px;
    }
    .center-m {
        
        width: 150px;
        height: 50px;
    }
    .center-p {
        float: none;
        width: 100%;
        width: 150px;
        height: 100px;
    }


    .center-y {
         float: left;
         width: 100%;
        width: 150px;
    }
    
    .footer {
        float: left;
        width: 100%;
        width: 150px;
    }

}