body {
    min-height: 100%;
    height: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
    /* wrapperクラスを中央寄せ */
}
/** header **/
.header {
    width: 100%;
    height: 100px;
    background-color: #ffce7a;
}
/** end of header **/
/** contents **/
.contents {
    height: 640px;
}
/** left-center **/
.left-center {
    float: left;
    height: 100%;
}
/** left **/
.left {
    float: left;
    width: 150px;
    height: 250px;
    background-color: #9dddf4;
}

/** end of left **/
.center-upper{
    float: left;
    
    width: 150px;
    height: 50px;
    background-color:#c2ffc8;
}
.center-lower {
    float: left;
    width: 150px;
    height: 100px;
    background-color:#ffc2c5;
}
.right {
    float: right;
    width: 100px;
    height: 150px;
    background-color: #f89c9c;
}
.center-y {
    float: right;
    width: 250px;
    height: 100px;
    background-color:#fff883;
}

.footer {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #bea5ff;
}
/** end of footer **/
/* reset.css*/